
node_modules
package-lock.json
.tmp
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
.vscode
.node_history
dump.rdb

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid

# .env file
.env
.env.dev
.env.staging
.env.production

docker-compose.dev.yml
docker-compose.staging.yml

/tests/temp.http
/uploads/*

enterprise_chat
/tests/*